/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/public/css
/public/img
/public/fonts
/public/temp
/public/plugins
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
composer.lock
package-lock.json

\.idea/
\.vscode/

.env.testing
/database/debug.log
/bootstrap/cache/
