/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/public/css
/public/img
/public/fonts
/public/temp
/public/plugins
/public/my-local-tests
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
package-lock.json

\.idea/
\.vscode/

.env.testing
/database/debug.log
/public/Nginx_1.21_vhost.conf
/public/Nginx_1.21_vhost.conf.bak
hs_err_pid*.log

# Игнорировать все файлы внутри bootstrap/cache/
bootstrap/cache/*
# Но не игнорировать саму папку иначе composer i упадет с ошибкой [auth] и .gitkeep файл
!bootstrap/cache/
!bootstrap/cache/.gitkeep
